<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836039419493-uispplgm1p7tg96rkug71b4jd1oh00hj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836039419493-uispplgm1p7tg96rkug71b4jd1oh00hj</string>
	<key>API_KEY</key>
	<string>AIzaSyBy44F4NEHebeydDUbxtuZ0kq3_ggGOdhg</string>
	<key>GCM_SENDER_ID</key>
	<string>836039419493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uerto</string>
	<key>PROJECT_ID</key>
	<string>uerto-287508</string>
	<key>STORAGE_BUCKET</key>
	<string>uerto-287508.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836039419493:ios:e8ba65fd6a0a9123f6488c</string>
</dict>
</plist>